<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb556715096530817</string>
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>1292673671772428</string>
	<key>FacebookClientToken</key>
	<string>85503455405685eb24b702be4dde458b</string>
    <key>FacebookDisplayName</key>
    <string>Unicoeye</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
	  <string>fbapi</string>
	  <string>fb-messenger-share-api</string>
	</array>
  </dict>
</plist>