
@import '@/common/mixins.scss';
.goods-detail-wrap {
	background-color: #f3f3f3;
}

.container {
	min-height: 100%;
	padding-bottom: calc(120rpx + 115.38rpx);
}

.swiper-container {
	width: 100%;
	position: relative;
	background-color: #f9f9f9;
}

.swiper_box {
	width: 100%;
	/* background-color: #f5f5f5; */
}

swiper-item image {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	/* height: unset; */
	background: #fff;
}
.swiper_box >>> uni-image>div,.swiper_box >>> uni-image>img  {
	background-size: contain !important;
	background-position: center;
}

.swiper-container .dots {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 7.69rpx 23.08rpx 5.77rpx 23.08rpx;
	height: 46rpx;
	
	position: absolute;
	right: 30.77rpx;
	bottom: 30.77rpx;
	
	font-size: 26.92rpx;
	color: #222;
	line-height: 31.55rpx;
	
	background: rgba(255,255,255,0.6);
	border-radius: 38rpx;
}

.goods-detail-wrap .goods-detail-header-box {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
}
.goods-detail-wrap .goods-detail-header {
	padding: 20rpx 40rpx;
	width: 100%;
}
.goods-detail-wrap .goods-detail-header-box.bg_white {
	background: #ffffff;
	border-bottom: 1px solid #f3f3f3;
}

.goods-detail-wrap .goods-detail-header .icon {
	width: 61.54rpx;
}

.goods-detail-wrap .goods-detail-header .icon-share {
	margin-right: 30rpx;
}

.goods-detail-wrap .goods-detail-header .icon-share:before {
	content: "\E6A9";
}
.goods-detail-wrap .goods-detail-header .icon-more {
	position: relative;
}
.goods-detail-wrap .goods-detail-header .icon-more:before {
	content: "\E6AA";
}
.goods-detail-wrap .more-content-box {
	display: flex;
	flex-wrap: nowrap;
}
.goods-detail-wrap .more-content-box .more-item {
	text-align: center;
	width: calc((100% - 40rpx) / 3);
	margin-right: 20rpx;
	margin-top: 20rpx;
}
.goods-detail-wrap .more-content-box .more-item:nth-of-type(3n) {
	margin-right: 0;
}
.goods-detail-wrap .more-content-box .more-item:nth-child(-n+3) {
	margin-top: 0;
}
.goods-detail-wrap .more-content-box .iconfont {
	background: unset;
	width: unset;
	height: unset;
	line-height: unset;
	margin-right: 16rpx;
	font-size: 64rpx;
}
.goods-detail-wrap .more-content-box .icon-home:before {
	content: "\E6AE";
}
.goods-detail-wrap .more-content-box .icon-wish:before {
	content: "\E6B8";
}
.goods-detail-wrap .more-content-box .icon-account:before {
	content: "\E6AC";
}
.goods-detail-wrap {
	.goods-info {
		background-color: #fff;
		padding: 30.77rpx 19.23rpx 0 30.77rpx;
		width: 100%;
		box-sizing: border-box;
		position: relative;
		.goods-title{
			color: #393939;
			font-family: "Montserrat-SemiBold";
			font-size: 38.46rpx;
			padding-bottom: 15.38rpx;
		}
		.goods-price {
			color: #000000;
			font-weight: 700;
			font-size: 40rpx;
		}
		.goods-originalPrice {
			display: inline-block;
			padding-left: 19.23rpx;
			color: #999;
			font-size: 26.92rpx;
			text-decoration-line: line-through;
			text-transform: none;
		}
		.sp_price {
			color: #8A61E7;
			font-family: "Montserrat-SemiBold";
		}
		.p-discount-off {
			border: 2rpx solid #8A61E7;
			color: #8A61E7;
			font-size: 20rpx;
			font-family: "Montserrat-Regular";
			padding: 0 7.69rpx;
			display: inline-block;
			margin-left: 19.23rpx;
			border-radius: 6rpx;
		}
		.review-count {
			margin: 0 10rpx;
			font-family: "Montserrat-Regular";
			font-weight: 400;
			font-size: 26.92rpx;
			color: #393939;
			line-height: 32rpx;
		}
		.icon-arrow-right {
			width: 46.15rpx;
		}
		.reminder-buy-vip {
			background:  #FFE1D0;
			padding: 22rpx 30rpx;
			margin-top: 26rpx;
			font-size: 28rpx;
			.vip-title{
				color: #903400;
				font-weight: bold;
			}
			.vip-tips{
				margin-top: 10rpx;
				color: rgba(144,52,0,0.8);
			}
		}
	}
	
	
	.reviews-box {
		background-color: #ffffff;
		padding: 30.77rpx 30.77rpx 0 30.77rpx;
		margin-bottom: 32.69rpx;
		.review-header {
			margin-bottom: 46.15rpx;
		}
		.reviews-title {
			font-family: "Montserrat-SemiBold";
			font-size: 26.92rpx;
			color: #393939;
		}
		.view-all-box {
			color: #666;
			font-size: 23.08rpx;
			font-family: 'Montserrat-Medium';
			.icon-goto {
				color: #666;
			}
		}
		.view-all {
			border-top: 1px solid #e5e5e5;
			padding: 24rpx;
			padding-bottom: 0;
			font-size: 24rpx;
			color: #666666;
			margin-top: 24rpx;
		}
		.reviews-detail {
			margin-bottom: 24rpx;
		}
		.left {
			margin-right: 32rpx;
			.scores {
				font-size: 36rpx;
				color: #333333;
				font-weight: bold;
			}
		}
		.right {
			flex: 1;
			.right-item {
				margin: 6rpx 0;
			}
			.star-sort {
				width: 140rpx;
				color: #666666;
				font-size: 24rpx;
			}
			.clothing-progress {
				width: 220rpx;
				background: #e5e5e5;
				height: 12rpx;
				margin-right: 24rpx;
				position: relative;
				.clothing-progress-active {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					background: #FA6900;
				}
			}
			.star-percentage {
				font-size: 24rpx;
				color: #666666;
			}
		}
	}
}

.goods-detail-wrap .attributes-box {
	padding: 15rpx 24rpx;
	background: #ffffff;
	margin-bottom: 16rpx;
	font-size: 28rpx;
	color: #333333;
}
.goods-detail-wrap .attributes-box .text {
	margin: 0 10rpx;
}

.goods-detail-wrap .other-info-box {
	background-color: #ffffff;
	padding: 15rpx 24rpx;
	margin-bottom: 16rpx;
	font-size: 28rpx;
}

.goods-detail-wrap .other-info-box .left {
	flex: 1;
	margin-right: 32rpx;
	color: #333333;
}

.goods-detail-wrap .other-info-box .left .iconfont {
	font-size: 32rpx;
	color: #ff165e;
	margin-right: 16rpx;
}

.goods-detail-wrap .other-info-box .left .top .icon-car:before {
	content: "\E6B5";
}

.goods-detail-wrap .other-info-box .left .bottom {
	margin-top: 5px;
}

.goods-detail-wrap .other-info-box .left .left-bottom-right-text {
	max-width: 230px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.goods-detail-wrap .filing {
	background: #ffffff;
	text-align: center;
	padding: 48rpx 0;
	font-size: 24rpx;
	color: #3A2015;
}

.footer-box {
	width: 100%;
	height: 153.85rpx;
	padding: 0 51.92rpx 0 32.69rpx;
	background-color: #fff;
	position: fixed;
	border-top: 1px solid #f5f5f5;
	bottom: calc(96.16rpx - 15.39rpx);
	z-index: 1;
	.add-to-bag-btn {
		// width: calc(588rpx - 0rpx - 0rpx);
		width: 565.38rpx;
		height: 80.77rpx;
		background-color: #222;
		text-align: center;
		border-radius: 40rpx;
		line-height: 38rpx;
		@include font-SemiBold($color: #fff)
	}
	.footer-wish-box image {
		width: 60rpx;
	}
}
.footer-box .footer-price {
	font-size: 24rpx;
	margin-top: 4rpx;
}
.footer-box .footer-price .vip-tag-img {
	width: 24rpx;
	height: 24rpx;
	margin-right: 4rpx;
}
.footer-box .footer-price .goods-price {
	color: #ffffff;
}
.footer-box .footer-price .goods-price.f_sp_price {
	color: #ff165e;
}
.footer-box .footer-price .goods-originalPrice{
	color: #bbb;
	margin-left: 8rpx;
	text-decoration: line-through;
}

.footer-box .iconfont {
	font-size: 60rpx;
	color: rgb(102, 102, 102);
}

.footer-box .icon-bag {
	position: relative;
}

.footer-box .icon-bag .bag-num {
	position: absolute;
	top: 0;
	font-size: 22rpx;
	right: 0;
	background: #ff165e;
	color: #fff;
	line-height: 1;
	padding: 4rpx 4rpx;
	border-radius: 50%;
	min-width: 24rpx;
	text-align: center;
}
.footer-box .cart-img {
	width: 60rpx;
}
.footer-box .icon-wish:before {
	content: "\E6B8";
}

.footer-box .icon-bag:before {
	content: "\E698";
}
.footer-box .icon-wish.icon-has-wish {
	color: #ff165e;
}


/* 物流弹窗内容  start*/
.shipping-return-box {
	padding: 40rpx 32rpx;
	font-size: 32rpx;
	color: #666;
}
.shipping-return-box .title {
	margin-bottom: 20rpx;
	font-weight: bold;
	color: #000;
}
.shipping-return-box .content {
	line-height: 44rpx;
	margin-bottom: 20rpx;
}
.shipping-return-box .go-to {
	color: #0071E3;
	margin-bottom: 46rpx;
}

/* 物流弹窗内容 end*/
/* 购物安全弹窗 start */
.shopping_security_intro_box {
	margin-top: 10rpx;
	display: flex;
	font-size: 24rpx;
	padding-left: 40rpx;
	flex-wrap: wrap;
}
.shopping_security_intro_box .item {
	position: relative;
	width: 50%;
	margin-top: 10rpx;
}
.shopping_security_intro_box .item:nth-child(-n+2) {
	margin-top: 0;
}
.shopping_security_intro_box .item::before {
	content: '';
	background: #27775c;
	width: 8rpx;
	height: 8rpx;
	position: absolute;
	left: -20rpx;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}
.security-box {
	padding: 38rpx 32rpx;
	font-size: 32rpx;
	color: #666666;
}
.security-box .item-box {
	margin-bottom: 50rpx;
}
.security-box .item-box .service-icon-box {
	background: #f6f6f6;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20rpx;
	margin-top: 40rpx;
}
.security-box .item-box .service-icon-box .item {
	overflow: hidden;
	text-align: center;
	border-right: 1px solid #ebeef5;
	padding: 24rpx 6rpx;
	font-size: 28rpx;
	width: calc(100% / 3);
}
.security-box .item-box .service-icon-box .item:last-child {
	border-right: 0;
}
.security-box .item-box .service-icon-box image {
	width: 60rpx;
	height: 60rpx;
}
.security-box .title {
	font-size: 32rpx;
	margin-bottom: 20rpx;
	color: #000;
	position: relative;
}

.security-box .learn_more {
	margin-bottom: 20rpx;
	margin-top: 20rpx;
	color: #0071E3;
	text-decoration: underline;
}
.security-box .little-title {
	margin-bottom: 20rpx;
}
.security-box .image-box image {
	height: 64rpx;
	margin-right: 16rpx;
	margin-bottom: 16rpx;
}
/* 购物安全弹窗 end */

/* 描述弹窗 */
.goods-detail-descript-box .product-params {
	padding: 40rpx 32rpx;
	font-size: 32rpx;
}

.goods-detail-descript-box .param-item {
	color: #333;
	margin-bottom: 28rpx;
	flex-wrap: wrap;
}

.goods-detail-descript-box .param-item .key {
	width: 38%;
	color: #666;
	word-break: break-word;
}
.goods-detail-descript-box .param-item .value {
	flex: 1;
}
.goods-detail-descript-box .param-item .copy-item .copy {
	color: #0071E3;
	font-size: 28rpx;
}
.goods-detail-descript-box .param-item .copy-item image {
	width: 36rpx;
	margin-left: 10rpx;
	margin-right: 10rpx;
}

.goods-detail-descript-box .description-box {
	/* font-size: 28rpx; */
	padding: 24rpx;
}

.goods-detail-descript-box .description-box>>>img {
	max-width: 100%;
}
.swiper_box image.slide-image >>> div {
	/* background-repeat: unset !important; */
}
.material_composition-box {
	padding-top: 10rpx;
	color: #999999;
}

#product-floor-tab {
	display: flex;
	border-top: 1px solid #f3f3f3;
	text-align: center;
	font-size: 28rpx;
}
#product-floor-tab .floor-tab__item {
	height: 92rpx;
	line-height: 92rpx;
	width: calc(100% / 3);
}
#product-floor-tab .floor-tab__item .floor-tab__item-name {
	position: relative;
	display: block;
	width: fit-content;
	max-width: 100%;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color:#666;
	margin: auto;
}
#product-floor-tab .floor-tab__item_active .floor-tab__item-name {
	color:#000;
}
#product-floor-tab .floor-tab__item_active .floor-tab__item-name::after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 6rpx;
	background-color: #000;
}

.options-and-qty-box {
	background: #fff;
	padding: 46.15rpx 0 30.77rpx 30.77rpx;
	margin-bottom: 15.38rpx;
	.goodsDetail-option-box {
		.product-page-current-attr-box {
			.label {
				font-size: 27rpx;
				font-family: 'Montserrat-Medium';
				color: #000;
				padding-bottom: 24rpx;
			}
			.attr-box::-webkit-scrollbar {
			    display: none;
			}
			.attr-box {
				padding-bottom: 30.77rpx;
				display: flex;
				flex-wrap: nowrap;
				overflow: auto;
				.color_box {
					margin-right: 26.92rpx;
				}
				.color-item {
					width: 72rpx;
					height: 72rpx;
					border-radius: 50%;
					position: relative;
					border:1px solid #ccc;
					.has-discount {
						content: '';
						position: absolute;
						width: 10rpx;
						height: 10rpx;
						right: -4rpx;
						top:  0rpx;
						background: #FF6ED3;;
						border-radius: 50%;
					}
					.out-stock {
						position: absolute;
						top: 50%;
						bottom: 0;
						left: -2rpx;
						right: 0;
						content: '';
						width: calc(100% + 4rpx);
						height: 2rpx;
						transform: rotate(-45deg);
						background: #000;
					}
					.img_out_stock::before {
						position: absolute;
						content: '';
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background: rgba(255, 255, 255, 0.55);
					}
					image {
						width: 100%;
						height: 100%;
						border-radius: 50%;
					}
				}
				.color-on {
					padding: 4rpx;
					border: 4rpx solid #393939;
				}
				.color-disabled {
					pointer-events: none;
					background: #e5e5e5;
					opacity: 0.3;
				}
				.other-item {
					display: flex;
					align-items: center;
					box-sizing: border-box;
					margin-right: 23.08rpx;
					padding: 17.31rpx 23.08rpx 15.38rpx;
					height: 65rpx;
					border-radius: 46rpx;
					border: 2rpx solid #666;
					color: #393939;
					font-size: 26.92rpx;
					font-family: "Montserrat-Medium";
				}
				.other-on {
					border: 2px solid #8A61E7;
					color: #8A61E7;
				}
				.other-disabled {
					border: 1px solid #D9D9D9;
					text-decoration-line: line-through;
					text-transform: none;
					pointer-events: none;
					color: #999;
				}
				.other-isOutStock {
					border: 1px solid #999999;
					font-size: 27rpx;
					color: #999999;
					line-height: 32rpx;
					text-decoration-line: line-through;
					text-transform: none;
				}
				
				// .other-item {
				// 	padding: 0 24rpx;
				// 	margin: 0 36rpx 16rpx 0;
				// 	border: 1px solid #ccc;
				// 	border-radius: 8rpx;
				// 	min-width: 138rpx;
				// 	font-weight: bold;
				// 	height: 64rpx;
				// 	font-size: 28rpx;
				// 	color: #333333;
				// 	line-height: 1;
				// 	display: flex;
				// 	align-items: center;
				// 	justify-content: center;
				// }
				// .other-isOutStock {
				// 	border: 1px dashed #CCCCCC;
				// }
				// .other-on {
				// 	border-color: #000;
				// }
				// .other-disabled {
				// 	pointer-events: none;
				// 	background: #e5e5e5;
				// 	opacity: 0.3;
				// }
			}
			.size-box {
				.size {
					padding: 16rpx 24rpx;
					margin: 0 16rpx 16rpx 0;
					border: 1px solid #e5e5e5;
					font-size: 28rpx;
					color: #333333;
					line-height: 1;
					box-sizing: border-box;
					.on {
						background-color: #fe165e;
						color: #ffffff;
					}
					.disabled{
						pointer-events: none;
						background: #e5e5e5;
						opacity: 0.3;
					}
				}
			}
			.color-box {
				.color {
					padding: 1px;
					margin: 0 16rpx 16rpx 0;
					.on {
						border: 1px solid #ff165e;
					}
					image {
						width: 100rpx;
					}
				}
			}
			.qty-box {
				.qty-input {
					text-align: center;
					font-size: 30rpx;
					width: 175rpx;
				}
				.icon-reduce.disabled {
					color: #999999;
					pointer-events: none;
				}
				.icon-add.disabled {
					color: #999999;
					pointer-events: none;
				}
			}
		}
	}
}
.product-page-current-attr-box  .attr-box .color-item >>> image div {
	background-size: 120% !important;
}

.vip-bg {
	margin-top: 26rpx;
}
.recommend-container {
	margin-bottom: 0;
}
.red_person_img_box {
	padding-left: 32rpx;
	background: #fff;
	padding-bottom: 60rpx;
}
.red_person_img_box .red-box{
	display: flex;
	flex-wrap: nowrap;
}
.red_person_img_box .red-box .image-box image {
	margin-right: 16rpx;
	width: 288rpx;
	height: 384rpx;
}
.goods-container {
	padding-bottom: 60rpx;
	background: #fff;
}
.p-detail-tier-prices-box {
	margin-bottom: 16rpx;
}
.goods-detail-wrap .special_activity_sale_progress-box {
	height:80.77rpx;
	width: 100%;
	background-image: url('@/static/images/detail/sale-bg@2x.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23.08rpx 15.38rpx 23.08rpx 38.46rpx;
}
.goods-detail-wrap .special_activity_sale_progress-box .img1 {
	width: 34.62rpx;
}
.goods-detail-wrap .special_activity_sale_progress-box .img2{
	width: 26.92rpx;
}
.goods-detail-wrap .special_activity_sale_progress-box .left-box {
	display: flex;
	align-items: center;
	font-size: 23.08rpx;
	color: #fff;
	font-style: italic;
}
.goods-detail-wrap .special_activity_sale_progress-box .left-box .text {
	line-height: 1;
	margin-bottom: 10rpx;
}
.goods-detail-wrap .special_activity_sale_progress-box .left-box .stock-progress-box {
	margin-left: 15.38rpx;
}
.goods-detail-wrap .special_activity_sale_progress-box .left-box .bar-box {
	width: 384.62rpx;
	height: 7.69rpx;
	background: #FFFFFF4D;
	position: relative;
	border-radius: 15rpx;
}
.goods-detail-wrap .special_activity_sale_progress-box .left-box .bar-box .bar-inner {
	background: #FFFFFFFF;
	top: 0;
	bottom: 0;
	left: 0;
	border-radius: 15rpx;
	position: absolute;
	max-width: 100%;
}
.goods-detail-wrap .special_activity_sale_progress-box .right-box {
	display: flex;
	align-items: center;
	font-size: 30.77rpx;
	color: #fff;
	line-height: 1;
}
.goods-detail-wrap .detail-share-banner-box {
	position: relative;
	background-color: #fff;
	margin: 0 30.77rpx 0 30.77rpx;
}
.goods-detail-wrap .detail-share-banner-box .detail-share-banner {
	width: 100%;
	display: block;
}
.goods-detail-wrap .detail-share-banner-box .text-box {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #333333;
	font-size: 23.08rpx;
	padding: 0 23.08rpx;
	white-space: nowrap;
	letter-spacing: -0.92rpx;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	.no-button {
		flex: 1;
		text-align: center;
	}
}
.goods-detail-wrap .detail-share-banner-box .text-box .fission-btn {
	font-size: 19.23rpx;
	color: #ffffff;
	width: 196.15rpx;
	height: 48.08rpx;
	background: linear-gradient( 90deg, #780EFF 0%, #DA49D6 54%, #FF6EA7 100%);
	border-radius: 56rpx;
	display: flex;
	align-items: center;
	justify-content: center;
}
.share-desc-tip-box {
	background: rgba(51,51,51,0.75);
	margin: 0 30.77rpx;
	padding: 15.38rpx 23.08rpx 19.23rpx;
	border-radius: 8rpx;
	position: relative;
	position: fixed;
	left: 0;
	right: 0;
	margin-top: 10rpx;
	color: #fff;
	z-index: 2;
}
.share-desc-tip-box::before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
    border-left: 16rpx solid transparent;
    border-right: 16rpx solid transparent;
    border-bottom: 24rpx solid #333333BF;
    /* border-bottom: 24rpx solid #333333e3; */
	right: 18rpx;
	top: -24rpx;
}
.share-desc-tip-box .share-desc-tips {
	display: flex;
}
.share-desc-tip-box .share-desc-tips .tip-icon {
	width: 50rpx;
}
.share-desc-tip-box .share-desc-tips .text-box {
	flex: 1;
	width: 0;
	margin-left: 21.15rpx;
	margin-right: 42.31rpx;
}
.share-desc-tip-box .share-desc-tips .close-icon {
	width: 34.62rpx;
	margin-top: 13.46rpx;
}
.share-desc-tip-box .share-desc-tips .text-box .text1 {
	line-height: 30.77rpx;
	font-size: 23rpx;
	letter-spacing: 0.5px;
	margin-bottom: 4rpx;
}
.share-desc-tip-box .share-desc-tips .text-box .text2 {
	color: rgba(255, 255, 255, 0.60);
	font-size: 19rpx;
}

.goods-detail-wrap.isBelongSpecialActivity .goods-info .goods-price {
	color: #8A61E7FF;
}
.goods-detail-wrap.isBelongSpecialActivity .goods-info .p-discount-off {
	color: #8A61E7FF;
	border: 1px solid #8A61E7FF;
}
.goods-detail-wrap.isBelongSpecialActivity .footer-box .footer-price .goods-price {
	color: #8A61E7;
}
.goods-detail-wrap.isBelongSpecialActivity .special-activity-goods-price.goods-price {
	color: #000;
	font-weight: 700;
	font-size: 40rpx;
}
.goods-detail-wrap.isBelongSpecialActivity .footer-box .footer-price .special-activity-goods-price.goods-price {
	color: #fff;
	font-size: 24rpx;
	font-weight: normal;
}