/* 外边距、内边距全局样式 */
@for $i from 0 through 360 {
  .mt#{$i} { 
    margin-top: #{$i}px !important;
  }
  .mr#{$i} {
    margin-right: #{$i}px !important;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .ml#{$i} {
    margin-left: #{$i}px !important;
  }
  .pt#{$i} {
    padding-top: #{$i}px !important;
  }
  .pr#{$i} {
    padding-right: #{$i}px !important;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pl#{$i} {
    padding-left: #{$i}px !important;
  }
  
  .mt#{$i}r {
    margin-top: #{$i}rpx !important;
  }
  .mr#{$i}r {
    margin-right: #{$i}rpx !important;
  }
  .mb#{$i}r {
    margin-bottom: #{$i}rpx !important;
  }
  .ml#{$i}r {
    margin-left: #{$i}rpx !important;
  }
  .pt#{$i}r {
    padding-top: #{$i}rpx !important;
  }
  .pr#{$i}r {
    padding-right: #{$i}rpx !important;
  }
  .pb#{$i}r {
    padding-bottom: #{$i}rpx !important;
  }
  .pl#{$i}r {
    padding-left: #{$i}rpx !important;
  }
  .fs#{$i} {
	font-size: #{$i}rpx !important;
  }
}
.ellipsis-rows, .ellipsis-rows-two {
	overflow: hidden;			 // 超出的文本隐藏
	text-overflow: ellipsis;	 // 溢出用省略号显示
	display: -webkit-box;		 // 将对象作为弹性伸缩盒子模型显示
	white-space: normal;		 // 溢出后的空格处理
	/*！autoprefixer: off */
	-webkit-box-orient: vertical;// 从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）	
	-webkit-line-clamp: 1;		 // 这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。
	/*！autoprefixer: on */
}
.ellipsis-rows-two {
	-webkit-line-clamp: 2;
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-jcspb {
    display: flex;
    justify-content: space-between;
}
.flex-jcspa {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.tac {
    text-align: center;
}